<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns	= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.MasFalgarona.app"
        versionCode     = "2" 
	version 	= "1.0.0">

	<name>MasFalgarona</name>

<description>Mas Falgarona App.
Mas Falgarona is a Four Stars Hotel Relais in
Spain > Girona > Costa Brava > Emporda > Figueres > *Avinyonet
Near: Torremirona - Peralada - Golf, 
       Empuriabrava Airport -Sky Dive - Wind Tunnel,
       Roses - Llança - Empuriabrava  Beach,
       Figueres - Pubol - Cadaques - Dali Museum's.
</description>

	<author href="http://i-solucions.com"	email="email@i-solucions.com">
		M./J.L.>Pin>Toral
	</author>

	<preference name="phonegap-version" value="1.8.1" />
	<preference name="orientation" value="default" />
	<preference name="target-device" value="universal" />
	<preference name="fullscreen" value="false" />
	<preference name="webviewbounce" value="false" />
	<preference name="ios-statusbarstyle" value="black-opaque" />

            <preference name="stay-in-webview" value="true" />

         <icon src="icon.png"  />
	<icon src="images/icon.png" width="57" height="57" />

	<icon src="images/icon2.png" gap:platform="ios" width="72" height="72" />
        <icon src="images/icon2x.png" width="114" height="114" />


	<gap:splash src="images/startup.png" width="320" height="480" />
	<gap:splash src="images/startup2x.png" width="640" height="960" />
	<gap:splash src="images/startuplandscape.png" width="1024" height="768" />
	<gap:splash src="images/startuportrait.png" width="768" height="1024" />

<preference name="permissions" value="none"/>
<access origin="*" /> 

</widget> 
